.card {
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid black;
}

h2 {
    font-family: 'VT323', monospace;
    color: rgba(10, 238, 188, 0.87);
    font-size: 60px;
    font-weight: 900;
}