<div class="container">
    <h2 class="nav-brand text-center">POSITIVE VIBES</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes; let i = index' class="card">
                <div>
                    <div class="text-dark card-body">
                        <svg class="bi bi-person-bounding-box text-left wrap" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        </svg>
                        <blockquote class="blockquote mb-0 text-center">"{{quote.text}}" <br>
                            <footer class="blockquote-footer">{{quote.author}} <br>
                                <!-- <button (click)='details(i)' class="btn btn-dark text-warning float-right">See more</button> -->
                                {{numberOfVotes}}
                                
                                <button class="btn-DownVote-dark" (click)="upVoteClick()">Yes
                                    <svg class="bi bi-arrow-down-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg"></svg>
                                </button>
                                <button class="btn-DownVote-dark" (click)="downVoteClick()">No
                                    <svg class="bi bi-arrow-down-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg"></svg>
                                </button>
                                <button (click)="onDelete(quote)" class="btn-del-dark">Trash
                                    <svg class="bi bi-trash-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="orange" xmlns="http://www.w3.org/2000/svg"></svg>
                                </button> 
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <br>
                <app-quotes-detail *ngIf='quote.showDetail' [quote]='quote' (seen)='hideQuote($event,i)'></app-quotes-detail>
            </div>
        </div>
        <div class="offset-1 col-md-5">
            <app-form-quotes (addQuote)="addAQuote($event)"></app-form-quotes>
        </div>
    </div>
</div>